// Here you can add other styles


.app-header .navbar-brand {
    width: 200px;
}

.bg-img {
    background-image: url('/assets/img/cuisine/pattern.png') !important;
    background: #3fae2a;
    background-size: cover;
}

.img-border-left {
    border-left: 1px solid white;
    padding-left: 40px;
}